.Calendar__container {
  width: clamp(var(--size-15), calc(100vw - 2 * var(--size-12)), 1200px);
  height: clamp(var(--size-15), calc(100vh - 2 * var(--size-12)), 800px);
  display: grid;
  grid-template: 1fr auto / auto 1fr auto;
  gap: var(--size-2);
}

.Calendar__main {
  grid-column: span 3;
  border: 1px solid var(--teal-6);
  border-radius: var(--size-2);
  display: flex;
  background-color: white;
  overflow: auto;
}

.Calendar__next_week_button {
  grid-column: 3;
}
